.collapse {
  margin-top: 20px !important;
  background-color: #FFF !important;
  border-top: 1px solid #d9d9d9 !important;


  :global(.ant-collapse-item > .ant-collapse-header) {
      display: flex;
      justify-content: flex-end;
  }
}
